# Compilados
target/
bin/
*.class

# Dependências
*.jar
*.war
*.ear

# Configurações de IDE
*.iml
.idea/
.vscode/
*.swp

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Arquivos temporários
*.tmp
*.bak
