<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1>Bem-vindo ao sistema!</h1>
        <p>Esta é a página inicial.</p>

        <!-- Exibir data/hora de execução -->
        <p th:if="${logExecucao != null}">
            Última execução: 
            <span th:text="${#temporals.format(logExecucao.dataHora, 'dd/MM/yyyy HH:mm:ss')}"></span>
        </p>
    </div>
</body>
</html>
